{% extends "base.html" %}
{% load i18n %}
{% block bodytags %}
{% if printable %}
  onload="window.print();"
{% else %}
    {% if allow_sort  %}
        onload='initSort("refreshtable","sortdiv","{{MEDIA_URL}}");{% if panel %} initPanel("refreshtable","paneldiv",options);{% endif %}'
    {% else %}
        {% if panel %}
        onload='initPanel("refreshtable","paneldiv",options);'
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}

{% block head %}
    {% if panel or allow_sort %}
    <script type="text/javascript" src = "{{MEDIA_URL}}jsutils.js"></script>
    {% endif %}
    
    {% if allow_sort %}
    <script type="text/javascript" src = "{{MEDIA_URL}}TableSort.js"></script>
    {% endif %}
    
    {% if panel %}
    <script type="text/javascript" src = "{{MEDIA_URL}}Panel.js"></script>
    <script type="text/javascript">var options = {{panel}};</script>
    {% endif %}
{% endblock %}
{% block feuillestyle %}
{% if printable %}
    <link rel="StyleSheet" href="{{MEDIA_URL}}rapportsrt_toprint.css" type="text/css" media="screen">
    <link rel="StyleSheet" href="{{MEDIA_URL}}print.css" type="text/css" media="print">    
{% else %}
    <link rel="StyleSheet" href="{{MEDIA_URL}}rapportsrt.css" type="text/css" media="screen">
{% endif %}
{% endblock %}
{% block menu %}
    {% if panel %}
    <div id='paneldiv' class="displaynone"></div>
    {% endif %}
{% endblock %}
{% block body %}
<h2>{{ report.title }}</h2>
{% if printable %}
<p>{% blocktrans %}Printed on {% now "Y-m-d \à H\hi" %}{% endblocktrans %}</p>
{% else %}
    <p>
    {% if allow_sort or panel %}
    <a href="?imprimer" onclick="window.open(addAllParameters(document.location.href.addParameter('imprimer','',true))); return false;">{% trans "Print" %}</a>&nbsp;<a href="?csv" onclick="window.open(addAllParameters(document.location.href.addParameter('csv','',true))); return false;" >{% trans "CSV Export" %}</a>
    {% else %}
    <p><a href="?imprimer" onclick="window.open('?imprimer'); return false;">{% trans "Print" %}</a>&nbsp;<a href="?csv" >{% trans "CSV Export" %}</a>
    {% endif %}
    {% if panel %}&nbsp;<a href="#" onclick="panel.toggle(); return false;">{% trans "Toggle Panel" %}</a>{% endif %}
    </p>
{% endif %}
{% if allow_sort %}<div id="sortdiv" class=" sortbar"></div>{% endif %}
{% include "genericsql/report_data.inc.html" %}
{% endblock %}
{% block admin %}
{% if not printable %}
{% if report.owner %}
<p>{% blocktrans %}For any questions concerning this report, see {{ report.owner }}.{% endblocktrans %}</p>
{% endif %}
<p><a href="{% url admin:genericsql_report_change report.id %}">{% trans "Modify Report" %}</a></p>
{% endif %}
{% endblock %}
