{% extends "base.html" %}
{% load i18n %}

{% comment %}{% block feuillestyle %}
{% endblock %}{% endcomment %}
{% block head %} {% endblock %}
{% block bodytags %}{% endblock %}
{% block menu %}
{% endblock %}
{% block body %}
<h2>{% blocktrans %}Executing {{ command }} on {{ target }}{% endblocktrans %}</h2>
<h3>{% trans "Choose the command parameters" %}</h2>
<form method="post">
<table>
{{ param_form.as_table }}
</table>
{% if target_list %}
<input type="submit" />
<h3>{% trans "Target list: " %}</h3>
<ul>
{% for t in target_list %}
    <li>{{t}}</li>
{% endfor %}
</ul>
{% else %}
<h3>{% trans "Target list is empty" %}</h3>
{% endif %}
</form>
{% endblock %}
{% block body_public %}{% endblock %}
