{% extends "base.html" %}
{% load i18n %}
{% comment %}{% block feuillestyle %}
{% endblock %}{% endcomment %}
{% block head %} {% endblock %}
{% block bodytags %}{% endblock %}
{% block menu %}
{% endblock %}
{% block body %}
<h2>{{ cmd.command.name }}</h2>
<table>
<tr><th>{% trans "Parameter" %}</th><th>{% trans "Value" %}</th></tr>
<tr><td>{% trans "Target:" %}</td><td>{{ cmd.target.target }}</td></tr>
{% for up in cmd.usedparameter_set.iterator %}
    <tr><td>{{ up.name }}:</td><td>{{ up.value }}</td></tr>
{% endfor %}
</table>

<h3>{% trans "Results" %}</h3>
<table>
{% if result_header %}<tr>{{result_header|safe}}</tr>{% endif %}
{% for c in cmd.commandexecresult_set.iterator %}
	<tr>{{ c.to_table_row|safe }}</tr>
{% endfor %}
{% if result_footer %}<tr>{{result_footer|safe}}</tr>{% endif %}
</table>
    <form method="GET">
        <input type="submit" name="refresh_btn" value="{% trans "Refresh" %}"/>
    </form>
        <form method="POST">
            <input type="submit" name = "launch_btn" value="{% trans "Run" %}"/>
        </form>
{% endblock body %}
{% block body_public %}{% endblock %}
