{% extends "base.html" %}
{% load i18n %}

{% comment %}{% block feuillestyle %}
{% endblock %}{% endcomment %}
{% block head %} {% endblock %}
{% block bodytags %}{% endblock %}
{% block menu %}
{% endblock %}
{% block body %}
<h2><a href="{% url apmanager.accesspoints.views.apcommands.view_command cmd.commandexec.id %}">{{ cmd.commandexec.command.name }}</a></h2>
<table>
<tr><th>{% trans "Parameter" %}</th><th>{% trans "Value" %}</th></tr>
<tr><td>{% trans "Target:" %}</td><td>{{ cmd.accesspoint.name }}</td></tr>
{% for up in cmd.commandexec.command.usedparameter_set.iterator %}
    <tr><td>{{ up.name }}:</td><td>{{ up.value }}</td></tr>
{% endfor %}
</table>
    <p>{% blocktrans with cmd.created as created %}Created on: {{ created }}{% endblocktrans %}</p>
{% if cmd.started %}
    <p>{% blocktrans with cmd.started as started %}Started on: {{ started }}{% endblocktrans %}</p>
    {% if cmd.ended %}
        <ul>
            <li><b>{% trans "Result:" %}</b>{{ cmd.result }}</li>
            <li><b>{% trans "Finished: " %}</b>{{ cmd.ended }}</li>
        </ul>
        <p>{% trans "Output:" %}</p>
        <pre>{{ cmd.output }}</pre>
        <form method="POST">
            <input type="submit" name="rerun_btn" value="{% trans "Run Again" %}"/>
        </form>
    {% else %}
    <form method="GET">
        <input type="submit" name="refresh_btn" value="{% trans "Refresh" %}"/>
    </form>
    {% endif %}
    
{% else %}
    <form method="POST">
        <input type="submit" name="run_btn" value="{% trans "Run" %}"/>
    </form>
{% endif %}
{% include "accesspoints/ap/links.html" %}
{% include "accesspoints/groups/links.html" %}
{% include "accesspoints/commands/links.html" %}
{% endblock body %}
{% block body_public %}{% endblock %}
