{% load admin_list %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
{% block meta %} {% endblock %}
    <title>{% trans "Access Point Management" %}</title>
    <link rel="SHORTCUT ICON" href="{{MEDIA_URL}}favicon.ico">
{% block feuillestyle %}
    <link rel="StyleSheet" href="{{MEDIA_URL}}default.css" type="text/css" media="screen">
{% endblock %}
{% block head %} {% endblock %}
</head>
<body {% block bodytags %}{% endblock %}>
{% block menu %}
{% endblock %}

{% if not user.is_anonymous %}
{% block body %}{% endblock %}
{% block admin %}<a href='{% url admin:index %}'>{% trans "Admin Interface" %}</a><br />{% endblock %}
{% endif %}

{% block body_public %}{% endblock %}

</body>
</html>

