Source: apmanager
Section: python
Priority: extra
Maintainer: Revolution Linux <info@revolutionlinux.com>
Build-Depends: debhelper (>= 5), python-central (>= 0.5.6), python-all-dev (>= 2.3.5-11), cdbs (>= 0.4.49)
XS-Python-Version: >= 2.4
Standards-Version: 3.7.2

Package: apmanager
Architecture: any
Depends: python-django (>= 0.96 ), python-django (<< 1.0), python-pyinotify (>= 0.7), python-pyinotify (<< 0.8), python-mysqldb,  ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Recommends: apache2, libapache2-mod-python
Description: Django application to manage wifi hotspots
 Django application to manage wifi hotspots. Uses django to provide a nice admin interface,
 complemented with a lightweight public interface.
