{% extends "base.html" %}
{% load i18n %}
{% block head %}
    {{ super.block }}
    <script language="javascript">
        document.getElementById("id_username").focus();
    </script>
{% endblock %}

{% block body_public %}
<h2>{% trans "Login" %}</h2>

{% if form.errors %}
<p class="error">{% trans "Your username and/or password didn't match. Please try again." %}</p>
{% endif %}

<form class="form" method="post" action=".">
<table>
    <tr><td><label for="id_username">{% trans "Username:" %}</label></td><td>{{ form.username }}</td></tr>
    <tr><td><label for="id_password">{% trans "Password:" %}</label></td><td>{{ form.password }}</td></tr>
    <tr><td></td><td align="right"><input type="submit" name="login_btn" value="{% trans "Login" %}"><input type="hidden" name="next" value="{{ next }}"></td></tr>
</table>
</form>

<br /><br /><br />
{% endblock %}

