{% extends "admin/change_form.html" %}
{% load i18n %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
    <a href="../../../../">{% trans 'Home' %}</a> &rsaquo; 
    <a href="../../../">{{ app_label|capfirst }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
    <a href="../">{{ original|truncatewords:"18" }}</a> &rsaquo; 
    {% trans 'Clone' %}
</div>
{% endif %}{% endblock %}

{% block object-tools %}
<p>{% blocktrans %}
This page allows you to duplicate an Access Point into a new one.
All parameters will be duplicated too.

Please note that the IP Address must be unique for each Access Point.
{% endblocktrans %}</p>
{% endblock %}

