<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
{% block meta %} {% endblock %}
    <title>Gestion des points d'acces</title>
    <!--<link rel="SHORTCUT ICON" href="/rapports/site-media/favicon.ico">-->
{% block feuillestyle %}
    <link rel="StyleSheet" href="/cscs/site-media/default.css" type="text/css" media="screen">
{% endblock %}
{% block head %} {% endblock %}
</head>
<body {% block bodytags %}{% endblock %}>
{% block menu %}
{% endblock %}

{% if not user.is_anonymous %}
{% block body %}{% endblock %}
{% endif %}

{% block body_public %}{% endblock %}

</body>
</html>

