/* Structure */
body {
    margin: 0;
    padding: 0;
}


div#content {
    margin-left: 230px;
    padding: 1em;
}

div#sidemenu {
    float: left;
    padding: 1em 0 1em 1em;
    width: 210px;
    margin-right: -100%;
}

div#clear {
    clear: both;
}

div#footer {
    padding: 1em;
}

div#document {
    width: 100%;
    float: left;
}

/* Style */

div#header a {
    color: white;
    text-decoration: none;
}

div#header a:hover {
    text-decoration: underline;
}


#content {
    border-left: solid 1px #003355;
    padding-left: 1em;
    background-color: white;
}

#document {
    background-color: #557799;
}

#sidemenu li,
#sidemenu a {
    color: white;
}

#sidemenu ul ul {
    margin-left: -2em;
}
    
*#footer *.powered {
    font-size: 0.9em;
    text-align: center;
}

#footer ul li {
    list-style-type: none;
}
