{% extends "base.html" %}
{% load i18n %}

{% comment %}{% block feuillestyle %}
{% endblock %}{% endcomment %}
{% block head %} {% endblock %}
{% block bodytags %}{% endblock %}
{% block body %}
<h2>{{ ap.name }}</h2>
<table>
<tr><th>{% trans "IP" %}</th><td>{{ ap.ipv4Address }}</td></tr>
<tr><th>{% trans "MAC" %}</th><td>{{ ap.macAddress }}</td></tr>
<tr><th>{% trans "Description" %}</th><td>{{ ap.description }}</td></tr>
<tr><th>{% trans "Architecture" %}</th><td>{{ ap.architecture }}</td></tr>
</table>
{% if init_status %}
<h3>{% trans "Initialization Status" %}</h3>
<form method="POST"><button name="init" value="1">{% trans "Run initialization" %}</button></form>
<form method="GET"><button>{% trans "Refresh" %}</button></form>
{# Missing #}
{% if init_status.missing %}
    <h4>{%blocktrans with init_status.missing|length as count %}{{ count }} section(s) missing{% endblocktrans %}</h4>
    {% for inisection in init_status.missing %}
    <p class="sectionname">{{ inisection.section }}</p>
    {% endfor %}
{% endif %}

{# Errors #}
{% if init_status.error %}
    <h4>{% blocktrans with init_status.error|length as errorcount %}{{ errorcount }} sections failed{% endblocktrans %}</h4>
    {% for iniresult in init_status.error %}
        <p class="sectionname">{{ iniresult.section.section }}</p>
        <pre class="output">{{ iniresult.output }}</pre>
    {% endfor %}
{% endif %}

{# Success #}
{% if init_status.success %}
    <h4>{% blocktrans with init_status.success|length as count %}{{ count }} sections succeeded{% endblocktrans %}</h4>
    {% for iniresult in init_status.success %}
        <p class="sectionname">{{ iniresult.section.section }}</p>
        <pre class="output">{{ iniresult.output }}</pre>
    {% endfor %}
{% endif %}
{% endif %}{# if init_status #}
<br /><hr /><br />
<a href='{% url apmanager.accesspoints.views.ap.view_ap_nagios_config ap.id %}'>Configuration Nagios</a>
{% comment %}
<h3>{% trans "Clients" %}</h3>
<table>
<thead><tr><th>MAC</th><th>IP</th></tr></thead>
{% if ap.apclient_set.all %}
<tbody>
{% for c in ap.apclient_set.all %}
<tr><td>{{ c.macAddress }}</td><td>{{ c.ipv4Address }}</td></tr>
{% endfor %}</tbody>{% endif %}
</table>
<br />
    <form method="POST">
        <input type="submit" name="refresh_btn" value="{% trans "Refresh" %}"/>
    </form>

{% endcomment %}
<br />
<hr />
{% endblock %}


{% block body_public %}{% endblock %}
