{% extends "base.html" %}
{% load i18n %}

{% comment %}{% block feuillestyle %}
{% endblock %}{% endcomment %}
{% block head %} {% endblock %}
{% block bodytags %}{% endblock %}
{% block body %}
<h2>{{ ap.name }}</h2>
<table>
<tr><th>{% trans "IP" %}</th><td>{{ ap.ipv4Address }}</td></tr>
<tr><th>{% trans "MAC" %}</th><td>{{ ap.macAddress }}</td></tr>
<tr><th>{% trans "Description" %}</th><td>{{ ap.description }}</td></tr>
<tr><th>{% trans "Architecture" %}</th><td>{{ ap.architecture }}</td></tr>
</table>
<br /><hr /><br />
<a href='{% url apmanager.accesspoints.views.ap.view_ap_nagios_config ap.id %}'>Configuration Nagios</a>
{% comment %}
<h3>{% trans "Clients" %}</h3>
<table>
<thead><tr><th>MAC</th><th>IP</th></tr></thead>
{% if ap.apclient_set.all %}
<tbody>
{% for c in ap.apclient_set.all %}
<tr><td>{{ c.macAddress }}</td><td>{{ c.ipv4Address }}</td></tr>
{% endfor %}</tbody>{% endif %}
</table>
<br />
    <form method="POST">
        <input type="submit" name="refresh_btn" value="{% trans "Refresh" %}"/>
    </form>

{% endcomment %}
<br />
<hr />
{% endblock %}


{% block body_public %}{% endblock %}
