{% extends "base.html" %}

{% comment %}{% block feuillestyle %}
{% endblock %}{% endcomment %}
{% block head %} {% endblock %}
{% block bodytags %}{% endblock %}
{% block body %}
<h2>{{ group.name }}</h2>
<table>
{% if header %}<thead><tr>{{ header|safe }}</tr></thead>{% endif %}
{% if footer %}<tfoot><tr>{{ footer|safe }}</tr></tfoot>{% endif %}
{% if ap_list %}
<tbody>{% for ap in ap_list %} 
<tr>
    {{ ap.to_table_row|safe }}
</tr>
{% endfor %}</tbody>{% endif %}
</table>

<br /><hr /><br />
<a href='{% url apmanager.accesspoints.views.apgroup.view_group_nagios_config group.id %}'>Configuration Nagios</a>
{% endblock %}


{% block body_public %}{% endblock %}
