{% extends "base.html" %}
{% load i18n %}

{% block head %} {% endblock %}
{% block bodytags %}{% endblock %}
{% block body %}
<table>
{% if caption %} <caption>{{ caption|safe }}</caption>{% endif %}
{% if table_header %}<thead><tr>{{ table_header|safe }}</tr></thead>{% endif %}
{% if object_list %}
<tbody>{% for object in object_list %} 
    <tr>
    {{ object.to_table_row|safe }}
    </tr>
{% endfor %}</tbody>{% endif %}
{% if table_footer %}<tfoot><tr>{{ table_footer|safe }}</tr></tfoot>{% endif %}
</table>
{% if add_refresh_button %}
    <br><form method="POST">
        <input type="submit" name="refresh_btn" value="{% trans "Refresh" %}"/>
    </form>
{% endif %}
<br /><hr /><br />
{% endblock %}
{% block body_public %}{% endblock %}
